# Postgres DB
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_POOL_MIN=5
POSTGRES_POOL_MAX=5
POSTGRES_STATEMENT_TIMEOUT=45000

#files
FILE_PATH_DIR=/

#elastic
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTIC_ALIAS=

#jwt
JWT_SECRET_KEY=

NODE_ENV=